@media (min-width: 760px) {
    .heading {
        max-width: 30rem;
    }
    .card {
        margin-right: 3rem;
        
    }
}

@media (max-width: 1225px) {
    .card {
        margin-bottom: 3rem;
    }
    
}

