@media (min-width: 1024px) {
    .heading {
        max-width: 30rem;
    }
    .card {
        margin-right: 3rem;
        
    }
}

@media (max-width: 1024px) {
    .card {
        margin-bottom: 3rem;
    }
    
}

@media (max-width: 640px) {
    .body {
        padding: 10rem;
    }
    .card {
        margin-bottom: 3rem;
    }
    
}