body {
    background-color: #121826;
    background-image: url('/resources/Background_image.svg');
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    min-height: 100vh;
}

h1 {
    color: #E5E7EB;
    font-weight: 600;
    font-family: 'Outfit SemiBold';
}

.header {
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

.heading {
    font-size: 2.5rem;
    margin-bottom: 15px;
    justify-self: center;
    font-weight: 600;
    

}

.subheading {
    font-size: 1rem;
    color: #E5E7EB;
    opacity: 0.5;
    font-weight: 400;
    font-family: 'Outfit Regular';
}

.wrapper-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem;

}

.card {
    display: flex;
    flex-direction: column;
    align-items: start;
    box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.15);
    background-color: #212936;
    border-radius: 1rem;
    padding: 1.5rem;
    width: 20rem;
    transition: background-color 0, 3s ease;
}

.card:hover {
    background-color: #06090e;
    cursor: pointer;
}

.emoji {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin-bottom: 3%;
}


.emoji {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin-bottom: 3%;
}

.feature {
    font-size: 1.25rem;
    font-weight: 400;
    font-family: 'Outfit';
    margin-bottom: 15px;
}

.description {
    font-size: 1rem;
    font-family: 'Outfit';
    font-weight: 400;
    color: #E5E7EB;
    opacity: 0.8;
    text-align: left;
    width: 100%;
    text-wrap: wrap;
    margin-bottom: 15px;
    max-width: 15rem;
}

.visual {
    width: 100%;
    border-radius: 1rem;
}